* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #282a36;
  align-items: center;
  color: #50fa7b;
}

nav a {
  text-decoration: none;
  color: #50fa7b;
  padding: 1rem;
}
nav a:hover {
  background-color: #44475a;
}

nav span {
  display: none;
}

/* nav div a:not(:last-child){
  border-right: 1px solid #50FA7B;
} */

@media (max-width: 400px) {
  nav div {
    display: none;
  }
  nav span {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav div.mobile {
    display: flex;
    flex-direction: column;
  }
}
